# -----------------------------------------------------------------------
# Archivo .gitignore para Proyectos Java 21 en IntelliJ IDEA
# -----------------------------------------------------------------------

### IntelliJ IDEA Exclusiones ###
.idea/
.out/
.taller_grupal_CAE/
# Archivos de espacio de trabajo específico del usuario
*.iml
*.iws
*.ipr
# Archivos de configuración de ejecución
*.run
# Archivos específicos de la máquina
workspace.xml
tasks/
